huggingface-hub==0.35.3
json_repair==0.51.0
matplotlib==3.10.0
matplotlib-inline==0.1.7
numpy==1.26.4
nvidia-nccl-cu12==2.23.4
pandas==2.2.3
pydantic==2.10.4
pydantic_core==2.27.2
pytorch-lightning==2.4.0
pytorch-triton-rocm==3.1.0
safetensors==0.4.5
scikit-image==0.25.0
scikit-learn==1.6.0
scipy==1.13.1
torch==2.5.1+rocm6.2
torch-tb-profiler==0.4.3
torchaudio==2.5.1+rocm6.2
torchinfo==1.8.0
torchmetrics==1.6.0
torchvision==0.20.1+rocm6.2
tqdm==4.67.1
transformers==4.56.0
vllm==0.6.6.dev27+ge461c262.rocm624
zstandard==0.25.0
